/target
.DS_Store
examples/**/target/
examples/9
.vscode
node_modules
pkg/
**/noir

# Nix stuff
**/outputs
result
.envrc.local
.direnv/

# Nargo output
*.proof
*.acir
*.acir.sha256
*.tr
*.pk
*.vk
**/Verifier.toml
**/contract
*.sol
**/target

crates/noir_halo2_backend_pse/example/*/circuit.r1cs
crates/noir_halo2_backend_pse/example/*/circuit.sym
crates/noir_halo2_backend_pse/example/*/circuit_js/
crates/noir_halo2_backend_pse/example/*/circuit_cpp/


